<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ asset ('css/normalize.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@100;300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset ('css/style.css') }}">
        <title>{% block title %}Welcome!{% endblock %}</title>

    </head>
    <body>

    {%  block styleCss %}
        <style>
        body{
            background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.5)),
            url("{{ asset ('image/yourte.jpg') }}");
        }
        </style>
    {% endblock %}

    {% block header %}
        <div class="container">
        <nav>
            <ul>
                <li><a href="{{ path('main_home') }}">Home</a></li>
                <li><a href=" {{  path ('main_cgu') }}">CGU</a></li>
                <li><a href=" {{  path ('main_mentions') }}">Mentions légales</a></li>
                <li><a href=" {{  path ('main_presentation') }}">Présentation</a></li>
            </ul>
        </nav>
        </div>
    {% endblock %}

    {% block body %}{% endblock %}

    {% block footer %}{% endblock %}

    </body>
</html>
